/* Generic */

body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, p {
    margin-top: 5px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

code {
    color: #49525e;
    font-family: 'Roboto Mono', Courier, monospace;
    font-size: 14pt;
}

pre.highlight {
    padding: 10px;
    background: #f5f5f5;
    border-radius: 5px;
}

blockquote {
    border-left: 4px solid #889;
    margin-left: 5px;
    padding-left: 15px;
    font-style: italic;
}

hr {
    border: none;
    height: 1px;
    color: #eef;
    background-color: #eef;
}

/* Header/footer */

#header {
    background-color: #49525e;
}

#header #cover {
    padding: 10px 0 10px 0;
    text-align: center;
    color: #fff;
}

#header #cover #logo {
    margin: 5px 10px 5px 5px;
    display: inline-block; 
    width: 70px; 
    height: 70px; 
    vertical-align: middle; 
}

#header #cover #title {
    display: inline-block;
    vertical-align: middle;
}

#header #cover #title span {
    display: block;
    font-size: 18pt;
    font-weight: bold;
    font-weight: 300; 
    line-height: 95%;
    opacity: 0.7;
}

#header #cover #title span:first-child {
    font-size: 20pt;
    font-weight: bold; 
    opacity: 1.0;
}

#header #menu {
    background-color: rgba(255, 255, 255, .05);
    text-align: center;
    font-size: 15pt;
    color: #fff;
}

#header #menu a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
    font-size: 11pt;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
}

#header #menu a:hover {
    opacity: 1.0;
    text-decoration: none;
}

#header #menu a img {
    height: 35px;
}

#footer {
    padding: 15px 10px 25px 10px;
    display: block;
    text-align: center;
    font-size: 10pt;
    color: #49525e;
    opacity: 0.5;
}

/* Content */

#content {
    max-width: 1000px;
    font-size: 13pt;
    color: #46555e;
}

#content a {
    color: #68808e;
}

/* Sections */

.section {
    display: block;
    position: relative;
    margin: 0 0 5px 0;
}

.section:first-child {
    border-top: 0;
}

.fixed-width {
    margin: 0 auto 0 auto;
}

/* Content sections */

.section-content {
    display: block; 
    padding: 5px 20px 15px 20px;
}

.section-content a {
    color: #222;
    opacity: 0.7;
}

.section-content a:hover {
    opacity: 1.0;
}

a.section-anchor {
    font-size: 12pt; 
    color: #aaa;
    opacity: 0.5;
    text-decoration: none;
}

a.section-anchor:hover {
    opacity: 0.7;
    text-decoration: none;
}

.clear:after {
    clear: both;
    content: "";
    display: table;
}

.flag-text {
    font-size: 10pt; 
    font-weight: bold;
    text-transform: uppercase;
}

/* Sponsors */

.sponsors-content {
    padding: 2px;
    border-radius: 10px;
    border: 1px solid #d7d7df;
    text-align: left;
}

.sponsors-content .title {
    display: inline-block;
    width: 30%;
    padding: 20px 20px 20px 20px;
    vertical-align: top;
    background: #f3f3f7;
    border-radius: 7px; 
    box-sizing: border-box;
}

.sponsors-content .separator {
    display: inline-block;
    width: 3%;
    font-size: 0;
}

.sponsors-content .items {
    display: inline-block;
    width: 67%;
}

.sponsors-content .item {
    display: inline-block;
    padding: 5px 0 5px 0;
    margin-right: 3%;
}

.sponsors-content .item img {
    display: inline-block;
    vertical-align: middle;
}

a.sponsor-item {
    opacity: 1.0;
}

a.sponsor-item:hover {
    opacity: 0.7;
}

a.sponsor-item img {
    height: 45px;
}

/* Events */

.event-content {
    position: relative;
    display: block;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 1px solid #d7d7df;
}

.event-content hr {
    margin: 25px 0 15px 0;
    background: #e7e7ef;
}

.sidebar-container {
}

.sidebar-container .left, .sidebar-container .right {
    display: inline-block; 
    vertical-align: top;
    box-sizing: border-box;
}

.event-content ul.links {
    margin: 15px 0 5px 0;
    padding: 0;
}

.event-content ul.links li {
    display: inline-block;
}

.event-content ul.links li a {
    margin: 0 2px 4px 0;
    padding: 5px 8px 5px 8px;
    background: #eeeeee;
    border-radius: 5px;
    text-decoration: none;
}

.event-content ul.links li a:hover {
    background: #e7e7e7;
}

.event-content .speaker-image {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-right: 5px; 
    background: #f5f5fa;
    border-radius: 3px;
}

.event-content .speaker-image img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.event-content .speaker-name {
    display: inline-block;
    padding: 4px 0 4px 0;
    vertical-align: top;
}

.event-content p {
    margin: 0;
    padding: 5px 0 10px 0;
}

.event-content .upcoming-flag {
    display: block;
    position: absolute; 
    top: 2px; 
    right: 2px;
    padding: 3px 8px 3px 8px; 
    border-radius: 7px;
    background: #f48700; 
    color: #ffffff;
}

/* Desktop-only */

@media only screen and (min-width: 900px) {
    .fixed-width {
        max-width: 900px!important;
    }
     
    #header #menu {
        padding: 8px 0 8px 0;
    }
    
    #header #menu a {
        margin-top: 0;
        margin-bottom: 0;
        display: inline-block;
    }
    
    #content {
        padding: 25px 30px 15px 30px;
        border-radius: 5px;
    }
    
    .sidebar-container .left, .sidebar-container .right {
        display: inline-block; 
    }

    .sidebar-container .left {
        width: 30%;
        margin-right: 3%;
    }

    .sidebar-container .right {
        width: 67%; 
    }
}

/* Phone-only */

@media only screen and (min-width: 100px) and (max-width: 900px) {
    .fixed-width {
        max-width: 900px!important;
    }
    
    #header #menu {
        padding: 2px 0 5px 0;
    }
    
    #header #menu a {
        margin-top: 15px;
        margin-bottom: 15px;
        display: block;
    }
    
    #content {
        padding: 15px 20px 15px 20px;
        border-radius: 0px;
    }
    
    .sidebar-container .left, .sidebar-container .right {
        display: block;
        width: 100%;
    }
    
    .sidebar-container .left {
        margin-bottom: 8px;
    }
}
