---
layout: default
id: home
title: Home
description: Welcome, Kotliners!
---

<div class="section clear">
<div class="section-content">
    <h1>Welcome, Kotliners!</h1>
    <p>This is a group for anyone interested in Kotlin and located in Sydney, Australia. All developers welcome, regardless of their occupation: Android, backend, frontend or anything else. Meet new people, listen to interesting talks and expand your knowledge of this great language.</p>
</div>
</div>

<div class="section clear">
{% for event in site.data.events reversed %}
<div class="event-content">
    <a name="{{ event.anchor }}"></a>
    <h2><a href="{{ event.url }}" target="_blank">{{ event.title }}</a> <a href="#{{ event.anchor }}" class="section-anchor">#</a></h2>
    <div class="sidebar-container">
        <div class="left">
            <p>
                <b>{{ event.date | date: "%A, %d %B, %Y" }}</b>
                <br/>
                <small>{{ event.date | date: "%I:%M %p" }}</small>
            </p>
            <p>
                <a href="{{ event.location.url }}" title="Google Maps"><b>{{ event.location.name }}</b></a>
                <br/>
                <small>{{ event.location.address }}</small> 
            </p>
        </div><div class="right">
            <p>{{ event.description }}</p>
        </div>
    </div>
    {% for talk in event.talks %}
    <hr/>
    <div class="sidebar-container" style="margin-bottom:10px;">
        <div class="left">
            <div class="speaker-image">
                {% if talk.speaker.twitter %}
                <img src="https://twitter.com/{{ talk.speaker.twitter }}/profile_image?size=normal" title="{{ talk.speaker.name }}" />
                {% endif %}
            </div>
            <div class="speaker-name">
                <b>{{ talk.speaker.name }}</b></br>
                <small>{% if talk.speaker.twitter %}<a href="https://twitter.com/{{ talk.speaker.twitter }}" title="Twitter">@{{ talk.speaker.twitter }}</a>{% endif %}</small>
            </div>
        </div><div class="right">
            <p>
                {% if talk.title %}
                <b>{{ talk.title }}</b>                
                {% else %}
                To be announced
                {% endif %}
            </p>
            {% if talk.description %}
            <p>{{ talk.description }}</p>
            {% endif %}
            {% if talk.links %}
            <ul class="links">
                {% for link in talk.links %}
                <li><a href="{{ link.url }}" target="_blank">{{ link.title }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    <span class="upcoming-flag" date="{{ event.date | date: "%s" }}" style="display:none;">Upcoming</span>
    {% endfor %}
</div>
{% endfor %}
</div>

<script>

$(document).ready(function() {
    $(".upcoming-flag").each(function(index, elem) {
        var rawDate = parseInt($(elem).attr('date'))
        if (!isNaN(rawDate)) {
            var date = new Date(0);
            date.setSeconds(rawDate);
            $(elem).toggle(date > new Date());
        }
    });
})

</script>
