<div id="header">
    <div id="cover" title="{{ site.title }}">&nbsp;</div>
    <div id="title" class="fixed-width">
        {{ site.title | upcase }}
    </div>
    <div id="menu">
        <div class="fixed-width">
            <a href="{{ site.social_meetup }}" title="Meetup" target="_blank">
                <img src="{{ site.baseUrl }}/assets/images/nav_meetup.png"/>
            </a>
            <a href="https://goo.gl/forms/W5lMhsphk8OMqXVf2">Call for speakers</a>
            <a href="#" class="sydkotlin-email-menu">Email</a>
        </div>
    </div>
</div>
