<div id="header">
    <div id="cover" class="fixed-width" style="">
        <img src="./assets/images/logo_medium.png" id="logo" />
        <div id="title">
            <span>{{ site.title | upcase }}</span>
            <span>{{ site.subtitle | upcase }}</span>
        </div>
    </div>
    <div id="menu">
        <div class="fixed-width">
            <a href="{{ site.social_meetup }}" title="Meetup" target="_blank">
                <img src="{{ site.baseUrl }}/assets/images/nav_meetup.png"/>
            </a>
            <a href="https://goo.gl/forms/W5lMhsphk8OMqXVf2">Call for speakers</a>
            <a href="#" class="sydkotlin-email-menu">Email</a>
        </div>
    </div>
</div>
